footer {
  padding:10px 0;
  z-index:1;
  position:relative;
  clear:both;
  background-color: rgba(0, 0, 0, 0.6)
}
footer p {
  margin:0;
  font-size:15px;
}
footer p.credits {
  text-transform:uppercase;
  font-size:13px;
  letter-spacing:3px;
  color:white;
}
