<div class="container">
  <h1>Exec Catalogue</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exec of execs">
      <td>{{ exec.Name }}</td>
      <td>{{ exec.Position }}</td>
      <td>{{ exec.imgUrl }}</td>

      <td><img
        style="
               border-radius: 8px;
               max-width: 5cm;
               height: auto;
            "
        src="../../assets/img/execs/Tiffany.jpg">
      </td>
    </tr>
    </tbody>
  </table>
</div>
