<section id="contact">
  <div class="container content-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><i class="fa fa-star" aria-hidden="true"></i> Contact Us</h2>
        <div class="done">
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Your message has been sent. Thank you!
          </div>
        </div>
        <form method="post" action="contact.php" id="contactform">
          <div class="form">
            <input type="text" name="contact-name" placeholder="Your Name *">
            <input type="email" name="contact-email" placeholder="Your E-mail Address *">
            <input type="text" name="contact-subject" placeholder="Subject Line *">
            <textarea name="contact-text" rows="7" placeholder="Type your Message *"></textarea>
            <input type="submit" id="submit" class="clearfix btn" value="Send" (click)="validate()">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
