.about-us {
  background: #fff;
  color: #272727;
}

.about-us .big-intro {
  text-align: right;
  font-weight: 300;
  font-size: 3.7em;
  line-height: normal;
  margin-top: -15px;
}

.about-us p {
  text-align: left;
  color: #939393;
  font-size: 1.2em;
}

.about-us .column {
  margin-bottom: 78px;
}


/*--SKILLS --*/

.skills {
  text-align: left;
}

.skills .skill {
  display: block;
  clear: both;
  margin-top: 0;
  margin-bottom: 25px;
}

.skills .skill .skill-count {
  display: inline-block;
  height: 64px;
  margin-top: 3px;
  float: left;
  margin-right: 15px;
  margin-bottom: 25px;
}

.skills li:last-child {
  margin-bottom: 0;
}

.skills .skill .skill1,
.skill2,
.skill3,
.skill4 {
  font-size: 16px !important;
}

.skills .skill h6 {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 20px;
}

.skills .skill p {
  line-height: 20px;
  color: #8f8f8f;
}


@-webkit-keyframes
load { 0% {
  stroke-dashoffset:0
}
}
@-moz-keyframes
load { 0% {
  stroke-dashoffset:0
}
}
@keyframes
load { 0% {
  stroke-dashoffset:0
}
}

/* Container */

.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* Item */

.progress>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}

.progress>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.progress>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.progress svg {
  width: 10rem;
  height: 10rem;
}

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;
}
