<section class="photos">
  <div style="background:rgba(255, 255, 255, 0.8); overflow: hidden">
    <div class="col-lg-12 text-center">
      <h2 class="section-title">Photos</h2>
    </div>

    <div class="frames">
      <div class="tz-gallery row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.facebook.com/pg/mcgill.mtsa/photos/?tab=album&album_id=1665432113518482">
              <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/23334252_1665433896851637_2232694688937943630_o.jpg?oh=1ea8e8e6fe17affe1b0efed604b33a7e&oe=5AAB4C4D">
            </a>
            <div class="caption">
              <h3>Let's get riggity riggity rekt!</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="tz-gallery row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.facebook.com/pg/mcgill.mtsa/photos/?tab=album&album_id=1658676307527396">
              <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/23213312_1658679634193730_491017120653238401_o.jpg?oh=19e2f81ce46c67291fb78e367245e67e&oe=5A94722D">
            </a>
            <div class="caption">
              <h3>2017-2018 Executive Team</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="tz-gallery row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.facebook.com/pg/mcgill.mtsa/photos/?tab=album&album_id=1631893520205675">
              <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/22137328_1631894033538957_1010735292472937754_o.jpg?oh=b581536afbc38cbfcedd8c7cb9fc68a8&oe=5AA0639F">
            </a>
            <div class="caption">
              <h3>The Amazing FROSH: Montreal Edition</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="tz-gallery row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.facebook.com/pg/mcgill.mtsa/photos/?tab=album&album_id=1626509734077387">
              <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/22104764_1626512937410400_8954332118449850948_o.jpg?oh=248301f8111809371a3988bd8cec0916&oe=5AB004E1">
            </a>
            <div class="caption">
              <h3>Always Open - MTSA Welcome Party</h3>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="tz-gallery row">-->
        <!--<div class="col-sm-6 col-md-4">-->
          <!--<div class="thumbnail">-->
            <!--<a href="https://www.facebook.com/pg/mcgill.mtsa/photos/?tab=album&album_id=1457494194312276">-->
              <!--<img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/17546669_1457496010978761_8902835627731181991_o.jpg?oh=8fe831db67cc2cb7d01afdee1e45788d&oe=5AA0D49D">-->
            <!--</a>-->
            <!--<div class="caption">-->
              <!--<h3>Semi Formal: Be Our Guest</h3>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>


