<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="">
        #mtsalovesyou </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about-us" class="page-scroll">About Us</a>
        </li>
        <li>
          <a href="#news-banner" class="page-scroll">What's new</a>
        </li>
        <li>
          <a href="#events" class="page-scroll">Events</a>
        </li>
        <li>
          <a href="#execs" class="page-scroll">Team</a>
        </li>
        <li>
          <a href="#sponsors" class="page-scroll">Sponsors</a>
        </li>
        <li>
          <a href="#contact-us" class="page-scroll">Contact Us</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
