<div class="col-lg-12 text-center">
  <h2>Execs</h2>
  <hr class="star-primary">
</div>

<div class="services" id="services">
    <div class="grid">
      <div class="serve-agileinfo" *ngFor="let exec of allExecs">
        <figure class="effect-julia" style="display: inline-block !important;">
          <img src="../../assets/img/execs/Tiffany3.jpg" alt="img21"/>
          <figcaption>
            <h4> {{exec.Name }}<span> {{exec.LastName}}</span></h4>
            <div>
              <p> First Fact </p>
              <p> Second Fact </p>
              <p> Third Fact </p>
            </div>
            <!--<a class="scroll" href="#news">View more</a>-->
          </figcaption>
        </figure>
        <p class="ser-para-wthree">

          {{ exec.Position }}
          <br>
          {{ exec.Major }} - {{ exec.Year }}
        <p>
      </div>
      <!--<div class="clearfix"></div>-->
    </div>
</div>

