html {
  width:100%;
  height:100%;
  background-image: url('./assets/img/intro-banner.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}


body {
  width:100%;
  height:100%;
  color:#fff;
  font-weight:300;
}

h1,h2,h3,h4,h5,h6 {
  margin:0 0 35px;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:1px;
}
p {
  margin:0 0 25px;
  font-size:18px;
  line-height:1.5;
}
@media(min-width:768px) {
  p {
    margin:0 0 35px;
    font-size:20px;
    line-height:1.6;
  }
}
a {
  color:inherit;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}
a:hover,a:focus {
  text-decoration:none;
  color:inherit;
}
.light {
  font-weight:400;
}


/* =========================  LOADING PAGE  ============================== */

.loader-title{
  display: inline-block;
  width:100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
  margin:0 0 35px;
  text-transform:uppercase;
  font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.loader{
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding-top: 200px
}

.loader-text{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  padding-bottom: 15px;
  width:230px;
  height:230px;
  color: white;
  font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.loader-text p{
  text-align: center;
  padding: 40% 0;
}

.loader-spin {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #145e58;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* =========================  END LOADING PAGE  ============================== */

