
<section class="sponsors" id="sponsors">
  <div class="container">
    <div class="col-lg-12 text-center section-title">
      <h2>Sponsors</h2>
      <hr class="star-primary">
    </div>
    <div class="map col-lg-12">
      <ngui-map
        zoom="13"
        center="845 Sherbrook West, Canada">
        <marker *ngFor="let sponsor of allSponsors"
                position= {{sponsor.Address}}
                (click)="clicked($event)"></marker>
        <info-window id="iw">
          <div *ngIf="marker.display">
            lat: {{ marker.lat }}, lng: {{ marker.lng }}
          </div>
        </info-window>
      </ngui-map>
    </div>
  </div>

  <a href="#sponsorsModal" class="portfolio-link" data-toggle="modal">
    <input type="button" id="allSponsorBtn" class="clearfix btn"  value="View all sponsors">
  </a>
</section>

<div class="portfolio-modal modal fade" id="sponsorsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sponsors-modal">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Sponsors 2017-2018</h2>
          <hr class="star-primary">
        </div>
        <table class="table discounts wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <tr *ngFor="let sponsor of allSponsors">
            <td>{{ sponsor.Name }}</td>
            <td class="hidden-xs">{{sponsor.Address}}</td>
            <td>{{sponsor.DiscountType}} </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
