#myCarousel{
  height: 65%;
  background-color: black;
}

.carousel-inner{
  height:100%;
}

.item{
  height: 100%;
  position:relative;
  overflow: hidden;
}

.item img{
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.carousel-caption{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

}


