#myCarousel{
  height: 150px;
  background-color: black;
}

.carousel-inner{
  height:100%;

}

.item {
  background-position: center;
  background-size: cover;
  height: 100%;
  /*position:relative;*/
  overflow: hidden;
}

.carousel-caption{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  margin-bottom: 10px;
}

@media(min-width: 768px){
  #myCarousel{
    height: 50%;
  }
}


